*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #212529;
  }
  /* header container */
  .ninestars-container{
    height: 550px;
    width: 100%;
    background: #fef8f5;
  }
/* navbar */
.navigation-flex{
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 30px;
    transition: all 0.5s;
    transition: all 0.5s;
    background: #fff;
   
}
.logo{
    width: 15%;
}
.logo span{
    font-size: 30px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    color: #7a6960;
}
.nav-bar{
    width: 85%;
}
.nav-bar ul{
    display: flex;
    justify-content: center;
}
.nav-bar ul li {
    font-size: 14px;
    color: #4e4039;
    padding: 10px 0 10px 30px;
}
.nav-bar ul li a{
    color: #4e4039;
}
.nav-bar ul li a:hover{
    color: #eb5d1e;
}
#home{
    color: #eb5d1e;
}

.icon i{
    text-decoration: none;
    font-size: 30px;
    width: 10%;
}
.get{
    background: #eb5d1e;
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 50px;
    cursor: pointer;
}
#gets{
    color: #fff;
}
.get:hover{
    background-color: #f4743d;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    background: #fef8f5;
    margin-top: 20px;
 }
.left{
    width: 50%;
}
.left h1{
    color: #4e4039;
    font-family: "Raleway", sans-serif;
}
.left p{
    color: #a08f86;
    font-family: "Raleway", sans-serif;
}
.left a{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #eb5d1e;
}
.right{
    width: 50%;
    text-align: center;
    align-items: center;
}

/* about us */
.about-us-container{
    height: auto;
    width: 100%;
}
.about-flex{
    display: flex;
}
.heading{
    width: 100%;
}
.icon-flex{
    display: flex;
    justify-content: space-between;
}
.icon-left i{
   text-decoration: none;
    color: #f39e7a;
}

.icon-right i{
    text-decoration: none;
    color: #f39e7a;
}
/* services */
/* .service-container{
    background-color: #fef8f5;
    width: 100%;
    height: auto;
}
.service-header{
    text-align: center;
    padding: 30px;
}
.service-header h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
}
.service-header p{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4e4039; 
}
.service-header p::after{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #eb5d1e;
    bottom: 0;
    left: calc(50% - 30px);
}
.service-flex{
    display: flex;
    justify-content: space-evenly;
}
.service-box{
    height: 260px;
    width: 260px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}
.service-box i{
    text-decoration: none;
    font-size: 48px;
    color: #eb5d1e;
    padding: 10px;
}
.service-box h3{
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    padding: 10px;
}
.service-box p{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
} */
/* faq */
