*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: sans-serif;
    box-sizing: border-box;
}
.full-page{
    margin: auto;
    width: 100%;
}
.ninestars-container{
    width: auto;
    height: 550px; 
    background: #fef8f5; 
    border-bottom: 2px solid #fcebe3;
}
.ninestars-navigation-flex{
    height: 70px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    text-align: center;
    align-items: center;
}
.logo h1{
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    color: #7a6960;
    font-family: 'Raleway', sans-serif;
    margin-left: 60px;
}
.nav-list ul{
    display: flex;
    justify-content: space-between;
}
.nav-list a{
    text-decoration: none;
}
.nav-list i{
    display: none;
    text-decoration: none;
    font-size: 35px;
}
.nav-list ul li{
    list-style: none;
    margin: 20px;
}
.nav-list ul li a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Open sans",sans-serif;
    font-size: 15px;
    color: #4e4039;
    white-space: nowrap;
    transition: 0.3s;
}
.nav-list ul li a:hover{
    color: #eb5d1e;
}
#home {
    color: #eb5d1e;
}
.nav-list .get{
    color: #fff;
}
.get{
    background: #eb5d1e;
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 50px;
    border: none;
}
.nav-list .get:hover{
    color: #fff;
    background-color: #f77036;
}
/* header-body */
.header-body-flex{
    display: flex;
    justify-content: space-between;
    height: auto;
}
.body-left{
    width: 50%;
    align-items: center;
    transform: translateY(40px);
    margin-left: 30px;
}
.body-left h1{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #4e4039;
    font-family: "Raleway", sans-serif;
}
.body-left p{
    color: #a08f86;
    margin: 15px 0 0 0;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}
.body-left a{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #eb5d1e;
}
.body-left .gets:hover{
    border-color: #f77841;
    color: #fff;
}
.body-right{
    text-align: center;
    align-items: center;
    transform: translate(40px,40px);
}
.up-down{
    animation: infiniteupdown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all 1s;
}
    @keyframes infiniteupdown{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0px);
        }
    }


